.idea
# created by virtualenv automatically
**/.idea
**/lib/
**/templates/
**/static/
**/pyvenv.cfg
**/bin/
**/node_modules/
**/.DS_Store
**/dist
**/dist-ssr
**/*.local
**/.vscode/
**/__pycache__
**/vite.config.js
